.btn {
    margin-left: 5px;
}

.container{
    margin-top: 5px;
}


.table>tbody>tr>td {
    vertical-align: middle;
}

.markedAsDone {
    text-decoration: line-through;
}

.tableActions {
    width: 40px;
}


.todoForm {
    padding: 20px 0px 50px 30px;
}
